<body>
    
<div class="button-container">
    <button mat-icon-button [routerLink]="['/']" aria-label="חזרה לדף הבית">
        <mat-icon color="primary">home</mat-icon> <!-- אייקון הבית -->
    </button>
@if(user===null){
<button mat-raised-button class="bt" color="success" [routerLink]="['/Login']">
    login
</button>
}
<!-- @if(user!==null){ -->
<button mat-raised-button class="bt" color="success" [routerLink]="['/matchmakers']">
    matchmakers
</button>

<button mat-raised-button class="bt" color="success" [routerLink]="['/analytics']">
    dashboards
</button>
<!-- <button mat-raised-button class="bt" color="success" [routerLink]="['/matchmakers']">
    שדכנים
</button> -->

</div>

<router-outlet></router-outlet>
</body>
